<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link href="/img/site.ico" rel="icon" type="image/x-icon" />
        <title>Movie Details</title>
    </head>

    <body>
        <nav>
            <img src="/img/movie.png" class="img" alt="site Logo">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/new">New Movie</a>
                </li>
            </ul>
        </nav>

        <main class="index-about">
            <article class="wrapper-about">
                <img src="/img/Imagem1.png" height="200rem">
                <p class="name"> Felipe Silva </p>
                <p class="details"> </p>

                <div id="buttons">
                    <a href="https://github.com/feeee-creator"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" class="imglogo"></a>
                    <a href="https://www.linkedin.com/in/felipe-silva-b60458210/"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" class="imglogo"></a>
                </div>
            </article>

            <article class="wrapper-about">
                <img src="/img/Imagem2.png" height="200rem">
                <p class="name"> João Pedro </p>
                <p class="details"> </p>

                <div id="buttons">
                    <a href="https://github.com/Jp-sorrentino"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" class="imglogo"></a>
                    <a href="https://www.linkedin.com/in/jo%C3%A3o-pedro-sorrentino-527a56203/"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" class="imglogo"></a>
                </div>
            </article>
        </main>
    
        <script src="/js/script.js"></script>
    </body>
</html>