<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link href="/img/site.ico" rel="icon" type="image/x-icon" />
        <title>Movie Details</title>
    </head>

    <section class="main-class-cadastro">
        <form method="POST">
        
            <!-- <section class="form-control">
                <label for="poster">poster:</label>
                <input type="text" name="imagem" id="poster" placeholder="Movie Poster" >
            </section> -->

            <button type="submit" class="button">Delete Movie</button>
        </form>
    </section>

        <script src="/js/script.js"></script>
    </body>
</html>